<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intenttest">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"

        android:icon="@drawable/icon"
        android:label="종합"
        android:logo="@drawable/web"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".First"/>
        <activity android:name=".SecondActivity"/>
        <activity android:name=".ThirdActivity"/>
        <activity android:name=".FourthActivity"/>
        <activity android:name=".FifthActivity"/>
        <activity android:name=".SixthActivity"/>
        <activity android:name=".SeventhActivity"/>
    </application>

</manifest>